
.home {
    padding-bottom: 100px;
}
.hero {
    position: relative;
}
.banner-image {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.hero-caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.caption-image {
    width: 90%;
    max-width: 420px;
    margin-bottom: 10px;
}
.hero-caption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btn {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.hero-btn .btn {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}
.hero-btn .btn img {
    width: 25px;
}
.hero-btn .dark-btn {
    background: #6d6d6eb3;
    color: white;
}
.hero-btn .btn:hover {
    background: #ffffffbf;
}
.hero-btn .dark-btn:hover {
    background: #6d6d6e66;
}
.more-cards {
    padding: 0 6%;
}
@media (max-width: 1280px) {
    .hero-caption .title-cards {
        display: none;
    }
}
@media (max-width: 800px) {
    .hero-caption {
        padding-left: 4%;
    }
    .caption-image {
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btn {
        margin-bottom: 30px;
    }
    .hero-btn .btn img {
        width: 20px;
    }
    .more-cards {
        padding: 0 4%;
    }
}
@media (max-width: 500px) {
    .caption-image {
        display: none;
    }
    .hero-btn .btn img {
        width: 15px;
    }
    .hero-btn .btn {
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}